.page:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

#game {
    text-align: center;
    align-items: center;
}

#settingsArea {
    margin: 10px;
}

.montySelection {
    margin: 10px;
}

.montySelection select {
    background-color: #1180f1;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 5px;
}

.montySelection:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.montySelection select option {
    padding: 30px;
}

.box {
    margin: 10px;
}

.box input {
    background-color: white;
    /*border-color: #0563af;*/
    border-color: #1180f1;
    color: #0563af;
    padding: 12px;
    width: 250px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 5px;
}

.box button {
    background-color: #1180f1;
    border: none;
    color: white;
    padding: 12px 25px;
    margin: 2px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 10px;
}

.box button:hover {
	background-color: indigo;
    border: indigo;
}

#dataArea {
    margin: 10px;
}

.main_container {
    height: 46px;
    width: auto;
    padding: 3px;
    margin: 2px;
    max-width: 240px;
    background-color: #1180f1;
    align-content: center;
    border-radius: 5px;
}

.container_inner {
    height: auto;
    border: none;
    background-color: #1180f1;
    max-width: 290px;
    vertical-align: center;
    padding-top: 12px;
    padding-left: 10px;
    align-content: center;
    border-radius: 5px;
}

.num_tiles {
    width: 30px;
    height: 30px;
    background-color: #888888;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
    border-radius: 5px;
}

#error {
    color: red;
    text-align: center;
    text-decoration: bold;
    font-family: Open Sans;
}

.progBar {
    height: 20px;
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    margin: 20px 0px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progBar>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: blue;
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

#wlNums {
    border: solid;
    border-color: grey;
    border-radius: 5px;
    padding: 20px;
    width: 200 px;
}

#wlNums span {
    margin: 10px;
}

.door {
    border: 0;
    width: 100%;
}

.doorButton {
    border: 0;
    width: 30%;
}

.center {
    text-align: center;
}
